*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
h1,.h1{
    font-size: 	2.986rem;
    margin-bottom: 1.5rem;
}
h2,.h2{
    font-size:2.488rem ;
}
h3,.h3{
    font-size: 2.074rem;
}
h4,.h4{
    font-size: 1.728rem;
}
h5,.h5{
    font-size: 1.44rem;
}
h6,.h6{
    font-size: 1.2rem;
}

.prize{
    display: inline-block;
    color: gray;
    margin-bottom: 1rem;
}
.variants{
    list-style: none;
    display: flex;
    gap: 0.25rem;
    margin-bottom: 1.5rem;

}

.variant img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    
}
p,.p{
    font-size: 1rem;
    color: rgb(107, 104, 104);
    line-height: 160%;
}
header{
    height: 4rem;
    border-bottom: 1px solid black;
}
#logo,h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
}
.container{
    height: 100%;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#logo{
    font-size: 24px;
    text-decoration: none;
    color: black;
}
section{
    padding: 4rem 0;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:1.5rem;
}

nav a{
    text-decoration: none;
    color: grey;
}
.logocart{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#section1 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
#images{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
#images img{
    width: 100%;
    height: 100%;
}
#img1{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
#img2{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}
#img1{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}
#img1{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}
#mainimg{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: .25rem;
    
}
.buttonprimary{
    background-color: black;
    color: white;
    

}
.buttonsecondary{
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
.buttonholder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin-top: 1rem;
}
.products img{
    width: 100%;

}
.productlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}
.priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.productdetails{
    padding-left: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;

}
.products{
    border: 1px solid rgb(150, 142, 142);
    border-radius: .5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
